* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-container {
  position: relative;
  max-width: 50rem;
  height: 25rem;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.slide {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 25rem;
  transition: 1s;
}

.slide img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__btn {
  padding: 10px;
  font-size: 30px;
  background-color: green;
  border: none;
}
