* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-container {
  position: relative;
  max-width: 50rem;
  height: 25rem;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.slide {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 25rem;
  transition: 1s;
}

.slide img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__btn {
  padding: 10px;
  font-size: 30px;
  background-color: green;
  border: none;
}
.slider__btn--left {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}
.slider__btn--right {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
}
.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border: none;
}
.dot.active {
  background-color: green;
}
